<html>
    <head>
        <style type="text/css">
            .topcorner1{
              position:absolute;
              top:0;
              right:150;
            }
           </style>
           <style type="text/css">
            .topcorner2{
              position:absolute;
              top:0;
              right:20;
            }
           </style>
    </head>
    <body>
        <h2 class="topcorner1"><a href="/home">Home</a></h2>
        <h2 class="topcorner2"><a href="/logout">Log Out</a></h2>
    </body>
    <h2>You don't have enough money in your wallet</h1>
    <h3>Please add some money to your wallet</h1>
    <h4><a href="/wallet">Click here</a> to add money to your wallet</p>
</html>